<% if tweets.present? %>
<h3>keyword：<%= @word%></h3>
  <ul>
    <!--
    <% tweets.each_with_index do |tw, i| %>
    <div class="list">
      <li>Tweet<%= i %>: <%= tw %> </li>
    </div>
    <% end %>
    -->

    <% tweets.each_with_index do |tw, i| %>
    <div class="list">
      <span><img src="<%= tw.profile_image_url %>"></span>
      <li>User Name: <%= tw.user_screen_name %></li>
      <li>Tweet: <%= tw.text %></li>
      <li># of Likes: <%= "0" unless tw.favorite_count  %></li>
      <li>URI: <%= tw.tweet_url %></li>
      <hr>
    </div>
    <% end %>
    
  </ul>

    <!--
  <pre>
    <%= JSON.pretty_generate(@tweet_results.attrs) %>
  </pre>
     --> 
<% end %>