<% if tweets.present? %>
  <% tweets.each_with_index do |tw, i| %>
    <%= form_with model: Post.new do |form| %>
      <%= form.hidden_field :tweet_id, :value => tw.tweet_id  %>
      <%= form.hidden_field :sns_post_url, :value => tw.tweet_url  %>
      <%= form.hidden_field :profile_image_url, :value => tw.profile_image_url  %>
      <%= form.hidden_field :text, :value => tw.text  %>
      <%= form.hidden_field :tweet_url, :value => tw.tweet_url  %>
      <%= form.hidden_field :like_in_twitter, :value => tw.favorite_count %>
      <%= form.hidden_field :username, :value => tw.user_screen_name %>
      <div class="tweet">
        <img src="<%= tw.profile_image_url %>" class="rounded-circle tweet_icon">
        <span class="tweet_text"><%= tw.text %></span>
        <%= button_tag :type => "submit", :class =>"btn btn-default btn-lg tweet_button" do %>
          <i class="fas fa-angle-right"></i>
        <% end %>
      </div>
      <% end %>
  <% end %>
<% end %>



