<% set_meta_tags title:'Timeline', description: 'Here is the timeline of the username you have searched. Pick a tweet up to thumbsup or down. If you do not see a tweet you are looking for, press "load more tweets" button' %>

<div class="col-12 form-group" style="background: #f0f8ff; margin-top: 1rem">
  <%= form_with(url: tweets_timeline_path, method: :get, local: true) do |form| %>
    <%= form.text_field :search_username, id: "tweet_search_timeline", name: "search_username", placeholder: @username, class: "form-control text-center" %>
    <span>
      <!--<%= form.submit value:"Account Search", class:"btn btn-block search_button rounded-pill mt-1" %>-->
      <button title="Search" type="submit" class="btn btn-block search_button rounded-pill mt-2">Account Search</button>
    </span>
  <% end %>
</div>

<div>
  <h1 class="h1-timeline text-center">Here is the timeline of the searched username</h1>
</div>

<div class='tweet_list' id="timeline">
   <%= render partial: 'tweet_list', locals: {tweets: @timeline}  %>
</div>

<div class="col-12" id="load_tweets">
  <%= link_to "Load more tweets", tweets_timeline_reload_path( username: @username, last_tweet_id: @last_tweet_id ), remote: true, class: 'btn btn-block search_button rounded-pill mt-3 mb-3' %>
</div>  
