<% set_meta_tags title:'Post', description: 'Here is a page for the tweet you picked up. Press thumbsup or down and share the URL with your followers.' %>

<% content_for :title do %>
  Thumbsmore
<% end %>

<div class="col-12 p-3">
  <%= link_to  random_path, class: 'btn btn-block search_button rounded-pill mt-3' do %>
    <i class="fas fa-angle-right"> NEXT POST</i>
  <% end %>
</div>

<div class="col-12 text-center post_ranking_label">ThumbsRank: No.<%= @rank%></div>
<div id="tweet-container">
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <script>
    var container = document.getElementById( "tweet-container" ) ;
    
    twttr.widgets.createTweet (
    	"<%= @post.tweet_id %>",	
    	container,
    	{
    		cards: "hidden",
    		conversation: "none",
     		width: 500,
     		align: "center",
    		dnt: true,
    	}
    ) ;
    </script>
</div>

<div id="thumbs_ajax">
  <%= render partial: 'thumbs', locals: {post: @post}  %>
</div>

<hr>
<div class="col-12 p-3">
  <span id="share_btn" class="btn btn-block search_button rounded-pill mt-3" data-clipboard-text="Thumbs-up or down? | @<%= @post.twitter_username %> | &quot;<%= @tweet_info.text.slice(0..180) %>...&quot; | <%= get_share_url(request.url) %> | #thumbsmore">Copy URL and Title</span>
</div>

<script type="text/javascript">
  var clipboard = new Clipboard('#share_btn');
      clipboard.on('success', function(e) {
      $("#share_btn").addClass('is-copied').text('Copied');
  });
  clipboard.on('error', function(e) {
      $("#share_btn").addClass('is-copied').text('Sorry, Your browser is not applicable for this');
  });
</script>