<div id="tweet-container">
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <script>
    // コンテナを取得
    var container = document.getElementById( "tweet-container" ) ;
    
    // ツイートを埋め込み表示するメソッドを実行
    twttr.widgets.createTweet (
    	"<%= @post.tweet_id %>" ,	// ツイートID
    	container ,	// コンテナの要素
    	{	// パラメータ
    //		cards: "hidden" ,
    //		conversation: "none" ,
    //  		theme: "dark" ,
    //		link-color: "#D36015" ,
       		width: 550 ,
       		align: "left" ,
    //		lang: "ja" ,
    //		dnt: true ,
    	}
    ) ;
    </script>
</div>
<hr>
<%= form_with(model: @dislike, local: true) do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
    <% if logged_in? %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= button_tag :type => "submit", :class =>'btn btn-lg thumbs_down_button' do %>
      <i class="far fa-frown"></i>
      <span><%= Dislike.where(post_id: @post.id).size %></span>
      <% end %>  
  <% else %>
      <%= button_tag :type => "submit", :class =>'btn btn-lg thumbs_down_button', :disabled =>" disabled" do %>
      <i class="far fa-frown"></i><span>&nbsp;Sign In to Click</span>
      <% end %>  
  <% end %>  
<% end %>
<hr>
<%= link_to  thumbsdown_post_path, post_id: @post.id, class: 'btn btn-lg thumbs_down_button' do %>
  <i class="far fa-thumbs-down"></i>
  <span><%= @post.thumbsdown %></span>
<% end %>
