<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b0c4de;">
  <a href="/" class="navbar-brand"><%= image_tag 'Thumbsmore_logo_icon.png', class: 'navbar-icon' %></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- メニュー項目 -->
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to 'HOW TO USE', static_pages_about_path, class: 'nav-link' %></li>
      <% if user_signed_in? %>
        <% if current_user.provider = 'twitter' %>
            <li class="nav-item"><%= link_to "MY TIMELINE", tweets_mytimeline_path, method: :get, class: 'nav-link' %></li>
          <% end %>
        <li class="nav-item"><%= link_to "MY BOOKMARKS", bookmarks_path, method: :get, class: 'nav-link' %></li>
      <% end %>
      
      <li class="nav-item"><%= link_to 'SEARCH A TIMELINE', tweets_search_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'BEST TWEETS', best_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'WORST TWEETS', worst_path, class: 'nav-link' %></li>

      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "SINGN OUT", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item"><%= link_to "SIGN UP", new_user_registration_path, method: :get, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "SIGN IN", new_user_session_path, method: :get, class: 'nav-link' %></li>
      <% end %>
      
    </ul>
  </div>
</nav>

<script>
  document.addEventListener('turbolinks:before-visit', function() {
    var $navbar = $('.navbar-collapse');
    
    if ( $navbar.hasClass('in') ) {
      $navbar.collapse('hide');
    }
  });
</script>

<script>
$('.navbar-nav>li>a , .dropdown-menu>a').on('click', function(){
    if(this.id != 'navbarDropdown'){
      $('.navbar-collapse').collapse('hide');
    }
});
</script>
